
*.txt
/Lab 1 - Git/videos
!171.txt
*.png
*.jpg
*.parquet
*.pkl
*.pickle
*.csv
/Proyecto/Datos
*.zip
Lab 11 - Agentes Autónomos/.env
*.pdf
/Lab12 - MLOps/mlruns
/Lab12 - MLOps/__pycache__
*venv
*.tar
*.7z
/Proyecto/mlruns
/Proyecto/mlruns
/Proyecto/mlruns
